 * {
        box-sizing: border-box;
 }

    
body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-image: url('./img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: #333333;
        

}

header {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 15vh;
    align-items: center;
}

header .logo {
    flex-grow: 3;
    width: 30%;
}

header .nav {
    display: flex;
    flex-grow: 7;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 70%;
    /* align-items: stretch; */

}

header .nav a {
    text-decoration: none;
    color: #c2c2c2;
}

header .nav a:hover {
    color: white;
}

main .banner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border-top: 2px black solid;
    text-align: center;
    /* padding-top: 10vh; */
    height: 85vh;
    color: black;
}

.banner img {
    display: block;
    width: 12rem;
    position: relative;
    left: 50%;
    border-radius: 50%;

    transform: translateX(-50%);
}



main .banner h2 {
    font-size: 3rem;
    margin: 0 35%;
    color: white;
    /* border: 2px black solid;
    border-radius: 30%;
    background-color: black;    */
}

main .banner h4 {
    font-size: 1.5rem;
    color: #c2c2c2;
}

.aboutme {
    display: flex;
    background-color: white;
    height: 100vh;
}



.pitch {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20vh;
    padding-bottom: 15vh;


}

h4 {
    font-size: 26px;
    color: #333333;
}

.aboutme .pitch h4 {
    margin-left:5vw;
    margin-right: 5vw;


}

.aboutme .pitch p {
    color: #333333;
    margin-bottom: 15vh;
    margin-left:5vw;
    margin-right: 5vw;
}

.pitch .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.contact img {
    width: 16px;
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 15vh 100px;
    width: 50%;
}

.progressbar {
    margin-bottom: 20px;
}

.contact {
    display: flex;
}

.services {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

h3 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 25px;
}

.servicecontainer {
    display: flex;
    flex-direction: row;
    height: 60vh;
    text-align: center;
    align-items: baseline ;

}

.servicecontainer .webdevelopment {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    padding: 20px 40px;
    border-right: 1px solid #dfdfdf;
    height: 90%;   
}

.servicecontainer .webdevelopment img {
    width: 32px;
    height: 32px;

}

.servicecontainer .webdevelopment h4 {
    font-size: 19px;
}


.servicecontainer .websitedesign {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    padding: 20px 40px;
    border-right: 1px solid #dfdfdf;
    height: 90%;
}

.servicecontainer .websitedesign img {
    width: 32px;
    height: 32px;

}

.servicecontainer .websitedesign h4 {
    font-size: 19px;
}

.servicecontainer .appdevelopment {
    display: flex;
    flex-direction: column;
    width: 34%;
    align-items: center;
    padding: 20px 40px;
}

.servicecontainer .appdevelopment img {
    width: 32px;
    height: 32px;

}

.servicecontainer .appdevelopment h4 {
    font-size: 19px;
}

.projects {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    height: 100vh;
}

.projectscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.project1 {
    width: auto;
    margin: 5%;
}

.project2 {
    width: auto;
    margin: 5%;

}

.project3 {
    width: auto;
    margin: 5%;


}


.overlaycontainer {
    width: 100%;
    display: flex;
    position: relative;
}

.overlaycontainer img {
    width: 100%;
    border-radius: 25%;
}

.overlaycontainer .overlay {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white;
    border-radius: 25%;
}

.overlaycontainer .overlay:hover {
    opacity: .9;
}

.overlay h4 {
    color: white;
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid white;
    display: inline-block;
}

.overlay p {
    font-size: 14px;

}

.contactme {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    text-align: center;
    padding-bottom: 50px;
    align-items: center;

}

.contactmecont {
    display: flex;
    display: column;
    width: 100%;
    justify-content: space-around;
}

.contactmecont img {
    width: 32px;
    margin-right: 5px;
}

.contactform {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
}

.contactform .nameemailinput {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contactform .nameinput {
    margin-right: 5%;
}

.contactform .emailinput {
    margin-left: 5%;
}

.contactform .messageinput {
    margin-top: 30px;

}